* {
    font-family: 'Crete Round', serif;
}
.container {
    border: 1px solid black;
    width: 600px;
}

.playarea {
    border: 1px solid black;
    margin-top: 10%;
    margin-bottom: 30%;
}

.gameover {
    padding-top: 10%;
}

.lyrics {
    border: 1px solid black;
    margin-bottom: 7%;
    margin-top: 7%;

}

.inputs {
    border: 1px solid black;
}
.incorrect {
    border-style: solid;
    border-color: red;
}

.hearts {
    width: 40px;
    height: 40px;
}


#leaders span{
  padding: 30px;
  font-size: 1.24em;
}

.cards{
  color: black;
}

.score {
    margin-right: 5%;
}

.lyrics h2{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 0;
}

#submit {
    margin-left: 42%;
}

.gameover img {
    width: 100%;
}

/* #startover {
    width: 100%;
} */

#gameover-scores h2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

#gameover-scores {
    display: flex;
    justify-content: space-evenly;
}

#login-form {
    width: 40%;
}

.start h1 {
    margin-top: 5%;
    font-size: 4em;
    font-weight: 350;
    font-family: 'Baloo Bhai', cursive;

}

.login {
    margin-top: 10%;
    padding-top: 15%;
    padding-bottom: 10%;
    border-radius: 1em;
}

#submit-login {
    margin-top: 5%;
}

#submit-login {
    background-color: #FF6B6B;
    color: #F7FFF7;
    font-family: 'Crete Round', serif;

}

#label-login{
    /* padding: 2em; */
    display: block;
}

/* #submit-login {
    background-color: #FFE66D;
    color: #292F36;

}  */

.gunmetal {
    background-color: #292F36;
}

.turquoise {
    background-color: #4ECDC4;
}

.mint-cream {
    background-color: #F7FFF7
}

.pastel-red {
    background-color: #FF6B6B;
}

.maize {
    background-color: #FFE66D;
}

#left-side-start-padding {
    padding-left: 10%;
}

.hiscores h2 {
    color:#F7FFF7;
}

.gunmetal-text {
    color: #292F36;
}