.Container {
    border: 1px solid black;
}

.Playarea {
    border: 1px solid black;
}

.Lyrics {
    border: 1px solid black;
}

.Inputs {
    border: 1px solid black;
}
.Incorrect {
    border-style: solid;
    border-color: red;
}

.hearts {
    width: 40px;
    height: 40px;

    /* max-height: 40px; */
}

div[id^='rank'], div[id*='rank']{
    display: flex;
    justify-content: space-between;
}

div[id^='rank'], div[id*='rank']>p {
    font-weight: bold;
}

.hiscores {
    text-align: center;
}

.score {
    /* background-color: blueviolet */
    margin-right: 5%;
}